@{
    ViewData["Title"] = "Page3";
}
@model Attempt2.Models.DaysChecked;

<body>
    <style>

        label {
            padding-left: 25px;
            color: aqua;
        }

        body {
            background-color: gray;
        }

        h1 {
            text-align: center;
            background-color: firebrick;
        }

        form {
            padding-left: 45%;
        }

        button {
            border: none;
        }

        div {
        }
    </style>

    <br />

    <h1 class="text-white">Pick Your Available Days</h1>

    @using (Html.BeginForm("Page4", "", FormMethod.Post))
    {
        <br />
        @Html.CheckBoxFor(m => m.monday, true) <span> Monday</span>
        <br />
        @Html.CheckBoxFor(m => m.tuesday, false) <span> Tuesday</span>
        <br />
        @Html.CheckBoxFor(m => m.wednesday, true) <span> Wednesday</span>
        <br />
        @Html.CheckBoxFor(m => m.thursday, true) <span> Thursday</span>
        <br />
        @Html.CheckBoxFor(m => m.friday, true) <span> Friday</span>
        <br />
        @Html.CheckBoxFor(m => m.saturday, true) <span> Saturday</span>
        <br />
        @Html.CheckBoxFor(m => m.sunday, true) <span> Sunday</span>
        <br />
        <input id="Submit1" type="submit" value="Submit" />
    }

</body>